{% for room in rooms %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    {% if room.host %}
    <a
      href="{% url 'user_profile' room.host.id %}"
      class="roomListRoom__author"
    >
      {{ room.host.username }}
    </a>
    {% else %}
    <span class="roomListRoom__author">Unknown Host</span>
    {% endif %}

    <div class="avatar avatar--small">
      <img
        src="https://m.media-amazon.com/images/I/911EuqYM1LL._AC_UF1000,1000_QL80_.jpg"
      />
    </div>
    <span>@{{ room.host.username }}</span>
  </div>

  <div class="roomListRoom__actions">
    <span>{{ room.created|timesince }}</span>
  </div>

  <div class="roomListRoom__content">
    <a href="{% url 'room' room.id %}">{{ room.name }}</a>
  </div>

  <div class="roomListRoom__meta">
    <a href="{% url 'room' room.id %}" class="roomListRoom__joined">
      <!-- SVG code here -->
      {{ room.participants.all.count }} Joined
    </a>
    <p class="roomListRoom__topic">{{ room.topic.name }}</p>
  </div>
</div>
{% endfor %}
